.playerContainer {
  height: 320px;
}

.playerInfo {
  display: inline-block;
}

.bar {
  width: 5px;
  height: 320px;
  background-color: white;
  position: absolute;
  margin-left: 10px;
}

.gameStart {
  margin-top: 20px;
  margin-bottom: 20px;
}
 
.gameStartButton {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(145, 255, 218);
  font-family: 'Monda';
  font-size: calc(5px + 2vmin);
  border: 1px solid green;
}

@media (max-width: 750px) {
  .bar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;
    height: 5px;
    position: relative;
  }

  .playerInfo {
    display: block;
  }

  .playerContainer {
    height: calc(100% + 20px)
  }
}