.card {
   width: 150px;
   height: 200px;
   border-radius: 10px;
   border: 1px solid white;
   vertical-align:middle;
   font-size:50px;
   line-height:200px;
   display:inline-block;
   box-sizing: border-box;
}

.second-card {
   margin-left: 10px;
}

.player-container {
   height: 320px;
}

.player-info {
   display: inline-block;
}

.player-two {
   margin-left: 25px;
}

.bar {
   width: 5px;
   height: 320px;
   background-color: white;
   position: absolute;
   margin-left: 10px;
}

.x-selected {
   border: 5px solid rgb(200, 177, 253);
}

.o-selected {
   border: 5px solid rgb(126, 242, 255);
}

.game-start {
   position: relative;
   top: 10px;
}

.game-start-button {
   width: 200px;
   height: 50px;
   border-radius: 5px;
   background-color: rgb(145, 255, 218);
   font-family: 'Monda';
   font-size: calc(5px + 2vmin);
   border: 1px solid green;
}