.row {
  width: fit-content;
  height: fit-content;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  vertical-align: middle;
  display: table-cell;
}


.board-cell {
  display: table-cell;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  vertical-align: middle;
  box-sizing: border-box;
}

.winner { 
  position: absolute;
  width: 154px;
  height: 154px;
  line-height: 150px;
  font-size:150px;
  display: inline-block;
  opacity: 0.5;
}

.tie {
  opacity: 0.5;
}

.highlighted-X {
  border: 3px solid rgb(200, 177, 253) !important; 
}

.highlighted-O {
  border: 3px solid rgb(126, 242, 255) !important;
}